
{% if page.url != "/tags" %}
<h1>Tags</h1>
{% endif %}

{% capture tags %}
{% for tag in site.tags %}
{{ tag[1].size }}#{{ tag[0] }}
{% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort | reverse %}

<div class="tag-cloud" style="font-size: 150%;">

	{% for fulltag in sortedtags %}
	  {% assign tag = fulltag | split: '#' %}
	  	{% assign taginfo = tag[1] | split: ':' %}
		{% if taginfo[0] != 'project' %}
		<a class="{% if page.pagination.tag == taginfo[0] %} active{% endif %}" href="{{ site.baseurl }}tags/{{ tag[1] }}">
			{{ tag[1] }}
			<span class="badge">{{ tag[0] }}</span>
		</a>
		{% endif %}
	{% endfor %}
</div>

<h1>Project Tags</h1>

<div class="tag-cloud project-cloud" style="font-size: 150%;">

	{% for fulltag in sortedtags %}
	  {% assign tag = fulltag | split: '#' %}
	  	{% assign taginfo = tag[1] | split: ':' %}
		{% if taginfo[0] == 'project' %}
		<a class="{% if page.pagination.tag == tag[1] %} active{% endif %}" href="{{ site.baseurl }}tags/{{ tag[1] }}">
			{{ taginfo[1] }}
			<span class="badge">{{ tag[0] }}</span>
		</a>
		{% endif %}
	{% endfor %}
</div>

